@import 'utils'

$nav-padding: 15px
$nav-font: #B2B5B4
$nav-square: #F15098


@mixin menu-minimized
  div.minimized
    @include transition(height 0.3s linear)
    height: 40px
    div.wrapper
      padding-top: $nav-padding
      padding-bottom: $nav-padding

      div.nav-square
        background-color: white

        div.nav-name
          display: none


@mixin menu-full
  div.full
    //@include transition(max-height 0.3s linear)
    width: 100%
    position: fixed
    background-color: $nav-background
    z-index: 1000
    height: 65px

    div.wrapper
      padding-top: 40px
      padding-bottom: $nav-padding

      div.nav-square
        background-color: $nav-square

        div.nav-name
          @include center-nav()
          top: -28px
          text-align: center



@mixin menu-base($large-screen, $medium-screen, $large-width, $medium-width, $nav-background)
  div.menuOccupy
    width: 100%
    height: 60px

  div.menuWrapper
    width: 100%
    position: fixed
    background-color: $nav-background
    z-index: 1000

    ul.menu
      @include outer-container

      > li
        @include fill-parent()
        @include span-columns(1 of 5)
        a
          display: block
          color: $nav-font

          div.nav-square
            @include transition(background-color 0.3s linear)
            position: relative
            margin: 0 auto
            width: 10px
            height: 10px

    @include media(min-width $medium-screen)
      ul.menu
        width: $large-width
