@import '../bourbon/bourbon'
@import '../base/base'
@import '../neat/neat'

$large-screen: em(1080)
$medium-screen: em(940)
$large-width: 800px
$medium-width: em(640)

$nav-background: #313533
$header-background: #181919
$playlist-background: #202021
$playlist-title: #B2B5B4
$playlist-text: #FFF
$aboutus-background: #F15098
$mailinglist-background: #A2D5E9

@import 'fonts'

body
  margin: 0
  background-color: #313533

@import 'pages'
@include general-page()

@import 'menu'
@include menu-base($large-screen, $medium-screen, $large-width, $medium-width, $nav-background)
@include menu-minimized()
@include menu-full()



@import 'music'
@include music-base($large-screen, $medium-screen, $large-width, $medium-width, $nav-background)
@include albums($large-width, $playlist-background)
@include playlist($large-width/2, $nav-background, $playlist-background, $playlist-title, $playlist-text)

@import 'transitions'
