@import '../bourbon/bourbon'
@import '../base/base'
@import '../neat/neat'

$large-screen: em(1080)
$medium-screen: em(940)
$large-width: em(800)
$medium-width: em(640)

$nav-background: #313533
$header-background: #181919
$aboutus-background: #F15098
$mailinglist-background: #A2D5E9

body
  margin: 0

@import 'pages'
@include general-page()

@import 'menu'
@include menu-base($large-screen, $medium-screen, $large-width, $medium-width, $nav-background)
@include menu-minimized()
@include menu-full()
